<p-card header="Budget Builder"
    subheader="Add your take home after taxes, your bills, savings, and we will automatically add your debt from Debt Center for a full view of where your money is going!">
    <p-table [value]="budget.categories">
        <ng-template #header>
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th><p-button icon="pi pi-plus" label="Add Row" (click)="addRow()"></p-button></th>
            </tr>
        </ng-template>
        <ng-template #body let-bill let-index>
            <tr>
                <td [pEditableColumn]="bill.name" pEditableColumnField="name">
                    <p-cellEditor>
                        <ng-template #input>
                            <input pInputText type="text" [(ngModel)]="bill.name" />
                        </ng-template>
                        <ng-template #output>
                            {{ bill.name }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="bill.amount" pEditableColumnField="amount">
                    <p-cellEditor>
                        <ng-template #input>
                            <p-inputgroup>
                                <p-inputgroup-addon>$</p-inputgroup-addon>
                                <p-inputnumber [(ngModel)]="bill.amount" mode="decimal"
                                    [maxFractionDigits]="2"></p-inputnumber>
                            </p-inputgroup>
                        </ng-template>
                        <ng-template #output>
                            ${{ bill.amount }}
                        </ng-template>
                    </p-cellEditor>
                <td>
                    <p-button icon="pi pi-trash" label="Delete"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>